@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Sans Trial", sans-serif;
    background: #000;
    color: #fff;
}

a,
p {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}

.page-content {
    width: 100%;
    min-height: 100vh;
    padding: 6em 2em;
}

.page-content.hero {
    background: url("/hero.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

/* HERO TITLE ONLY */
.page-content.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #fff;
}

.page-content.hero h1 sup {
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 1.5vw;
    letter-spacing: 0;
}

@media (max-width: 900px) {
    .page-content.hero h1 {
        font-size: 10vw;
    }

    .page-content.hero h1 sup {
        font-size: 4vw;
    }
}
